<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link href="/src/public/style.css" rel="stylesheet">
    <link href="/src/public/style.css" rel="stylesheet">
</head>
<body>
    <section id="Menu">
        <div id="Selection">
            <a class="TextMenuH" href="register.html">Registrate</a>
            <a class="TextMenuH" href="login.html">Iniciar sesion</a>
        </div>
    </section>

    <section id="Tittle">
        <h2 class="TextTittleH">Catalogo</h2>
    </section>

    <section id="Catalogo">
        <div class="Imagenes">
            <img src="https://img.freepik.com/fotos-premium/coleccion-zapatos-elegantes-mujer-profesional_899504-3847.jpg" alt="">
            <h3 class="TextImagesH">Precio</h3>
            <p class="TextImagesP"> $ 150.000</p>
        </div>
        <div class="Text">

        </div>

        <div class="Imagenes">
            <img src="https://img.freepik.com/fotos-premium/coleccion-zapatos-elegantes-mujer-profesional_899504-3839.jpg" alt="">
            <h3 class="TextImagesH">Precio</h3>
            <p class="TextImagesP"> $ 200.000 </p>
        </div>

        <div class="Imagenes">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRelZ1C_e4ouQ6EalEcKprIWE20H3Vf4G5zaOluIKPACt5louFAxzLaquumSodR3VjWxVM&usqp=CAU" alt="">
            <h3 class="TextImagesH">Precio</h3>
            <p class="TextImagesP"> $ 120.000 </p>
        </div>

        <div class="Imagenes">
            <img src="https://m.media-amazon.com/images/I/71eCAoEae4L._AC_SL1500_.jpg" alt="">
            <h3 class="TextImagesH">Precio</h3>
            <p class="TextImagesP"> $ 110.000 </p>
        </div>

        <div class="Imagenes">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2EudVLLrwpZEYJJvvTC1IQLdUs6GLs4Mk336-NjGPyUk9UYqcV4IKuXpJXgWvZYg5TKM&usqp=CAU" alt="">
            <h3 class="TextImagesH">Precio</h3>
            <p class="TextImagesP"> $ 110.000 </p>
        </div>

    </section>
</body>
</html>